$layout: (
  xsmall: 360,
  small: 375,
  msmall: 400,
  medium: 760,
  large: 1024,
  slarge: 1282,
  mlarge: 1445,
  hd: 1675,
  fullhd: 1915,
  xlarge: 2200
);

$breakpoints: (
  xsmall: 360px,
  small: 375px,
  msmall: 400px,
  medium: 760px,
  large: 1024px,
  slarge: 1282px,
  mlarge: 1445px,
  hd: 1675px,
  fullhd: 1915px,
  xlarge: 2200px
);
