:root {
  --btn-font-size: 0.75em;
  --btn-sm: calc(var(--btn-font-size) + 0.05em);
  --btn-md: calc(var(--btn-font-size) + 0.08em);
  --btn-lg: calc(var(--btn-font-size) + 0.1em);
}

button,
input[type='reset'],
input[type='submit'],
input[type='button'] {
  background: none;
  border: 0;
  cursor: pointer;
  overflow: visible;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-primary);
  width: auto;
  -webkit-appearance: none;
  background-clip: padding-box;
  border-radius: 0;
  box-sizing: border-box;
  line-height: normal !important;
  font-weight: bold;
  &:active,
  &:focus {
    text-decoration: none;
  } // active
} // button

.btn {
  --text: $black;
  --font-size: var(--btn-font-size);
  --shadow: 0 2px 8px -1px #{rgba(#494949, 0.32)};
  --shadow-hover: 0 4px 20px -2px #{rgba(#494949, 0.5)};
  --font-shadow: var(--font-size);
  --duration: 0.3s;
  --background: $white;
  --border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: 100%;
  font-weight: 500;
  border-radius: var(--border-radius);
  padding: px(6) px(10);
  margin: px(5) 0;
  background-color: var(--background);
  transition: background-color var(--duration) ease, transform var(--duration) ease, box-shadow var(--duration) ease;
  font-size: var(--font-size);
  box-shadow: var(--shadow);
  @include media('>=small') {
    --font-size: var(--btn-sm);
    padding: px(6) px(12);
  }
  @include media('>=msmall') {
    padding: px(7) px(14);
  }
  @include media('>=medium') {
    --font-size: var(--btn-md);
    padding: px(7) px(17);
  }
  @include media('>=large') {
    --font-size: var(--btn-lg);
    margin: px(8) 0;
    padding: px(8) px(22);
  }
  @include media('>=mlarge') {
    padding: px(9) px(24);
  }
  @include media('>=fullhd') {
    padding: px(10) px(28);
  }
  span {
    letter-spacing: 0.04em;
    position: relative;
    @include clean;
    line-height: 100%;
    color: var(--text);
    font-weight: 700;
    font-family: var(--font-secondary);
  }
  // svg {
  //   position: relative;
  //   display: inline-block;
  //   margin-left: px(4);
  //   width: px(10);
  //   height: px(10);
  //   transition: transform 0.3s $ease-out-quad;
  //   @include media('>=small') {
  //     width: px(12);
  //     height: px(12);
  //   }
  //   @include media('>=medium') {
  //     width: px(13);
  //     height: px(13);
  //   }
  //   @include media('>=slarge') {
  //     width: px(15);
  //     height: px(15);
  //   }
  //   path {
  //     fill: $black;
  //   }
  // }
  &:active,
  &:hover {
    text-decoration: none;
  }
  // &:hover {
  //   @include media('>=large') {
  //     span {
  //       letter-spacing: 0.1em;
  //     }
  //     svg {
  //       transform: translateX(px(2));
  //     }
  //   }
  // }
  // &--icon {
  //   span {
  //     @include media('>=msmall') {
  //       top: px(2);
  //     }
  //   }
  // }
  &--animated {
    > div {
      display: flex;
      overflow: hidden;
      text-shadow: 0 var(--font-shadow) 0 var(--text);
      span {
        display: block;
        backface-visibility: hidden;
        font-style: normal;
        transition: transform var(--duration) ease;
        transform: translateY(var(--m)) translateZ(0);
        $i: 1;
        @while $i < 12 {
          &:nth-child(#{$i}) {
            transition-delay: $i / 40 + s;
          }
          $i: $i + 1;
        }
      }
    }
    &:hover {
      @include media('>=large') {
        --shadow: var(--shadow-hover);
        span {
          --m: calc(var(--font-size) * -1.1);
        }
      }
    }
  }
  &--red {
    --text: $white;
    --background: $red;
    &:hover {
      @include media('>=large') {
        background-color: lighten($red, 3%);
      }
    }
    // svg {
    //   path {
    //     fill: $white;
    //   }
    // }
  }
  &--ghost {
    --shadow: 0 2px 8px -1px #{rgba(#494949, 0.14)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#494949, 0.25)};
    --text: $black;
    --background: transparent;
    border: 2px solid lighten($black, 15%);
    // svg {
    //   path {
    //     fill: $white;
    //   }
    // }
  }
  // &--ghost-dark {
  //   background-color: transparent;
  //   border: 1px solid $black;
  //   span {
  //     color: $black;
  //   }
  //   svg {
  //     path {
  //       fill: $black;
  //     }
  //   }
  // }
  &--small {
    box-shadow: none;
    background-color: transparent;
    @include clean;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0;
    padding-bottom: px(5);
    border-bottom: 3px solid $black;
    border-radius: 0;

    span {
      position: relative;
      top: 0;
      @include clean;
      line-height: 100%;
      letter-spacing: 0;
      transition: letter-spacing 0.4s ease;
      i {
        position: relative;
        top: 2px;
      }
    }
    // svg {
    //   width: px(6);
    //   height: px(6);
    //   @include media('>=large') {
    //     width: px(10);
    //     height: px(10);
    //   }
    // }
    &:hover {
      @include media('>=large') {
        span {
          letter-spacing: 0.03em;
        }
      }
    }
  }
  // &--inverse {
  //   span {
  //     color: $white;
  //   }
  //   svg {
  //     path {
  //       fill: $white;
  //     }
  //   }
  // }
}
